<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <% for(var i=0; i<tweets.length; i++) {%>
       <blockquote class="twitter-tweet">
        <a href="https://twitter.com/<%= tweets[i].user.screen_name %>/statuses/<%= tweets[i].id_str %>">
          <%= tweets[i].created_at %>
        </a>
      </blockquote>
    <% } %>
  </body>
</html>
